[Unit]
Description=Outline server
After=local-fs.target outline-ss-server.socket outline-ss-metrics.socket network.target
Requires=outline-ss-server.socket outline-ss-metrics.socket

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/outline-ss-server
ExecStart=/usr/bin/outline-ss-server
ConfigurationDirectory=outline-ss-server
User=outline-ss-server
Group=outline-ss-server
DynamicUser=yes
Restart=on-failure
LimitNOFILE=655360
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Also=outline-ss-server.socket outline-ss-metrics.socket